body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #e5e1ea;
    padding: 10px 0;
    text-align: center;
    border-bottom: #eadaf3 1px solid;
}

.logo {
    height: 100px; /* Tamaño mediano para el logo */
    width: auto;
    display: block;
    margin: 0 auto 10px auto; /* Centra el logo y da espacio */
}

nav a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.producto {
    margin-bottom: 20px;
    border: 1px solid #ecb4ed;
    padding: 10px;
}

.prod-img {
    max-width: 100%; /* Asegura que las imágenes de productos sean responsive */
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #d1afef;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media query para hacer el logo un poco más pequeño en móviles */
@media (max-width: 600px) {
    .logo {
        height: 70px; 
    }
}
